<html>
<head>
    <meta charset="utf-8">
    <meta name="twitter:app:name:iphone" content="HufuBit">
    <meta name="twitter:app:id:iphone" content="W25J5ZF9LK.com.hufubit.cryptowallet">
    <meta name="twitter:app:url:iphone" content="https://hufubit.com/ul?url=https%3A%2F%2Fhufubit.com%2Ful">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}
    <meta name="description" content="{{ site.description }}">
</head>
<body>
    <div class="wrapper">
        {{ content }}
    </div>
</body>
</html>
